<md-dialog ng-cloak flex="30">
  <md-dialog-content>
    <div class="md-dialog-content">
      <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{contact.name}} {{contact.lastName}}</span>
          <span class="md-subhead">{{contact.phone}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <img ng-src="{{contact.img}}">
          </div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
    </div>
  </md-dialog-content>
</md-dialog>